/* css styles */

body {
  overflow-y: hidden;
}

main {
  margin-top: 0px;
}

#quarto-content {
  display: flex;
  flex-direction: row;
}
#quarto-document-content {
  padding-top: 0px !important;
}

h1, h2, h3 {
   margin-left: 2rem;
}

p {
  text-align: justify;
  margin-left: 2rem;
}

.g-col-5 {
  margin-left: 1rem;
  overflow-y: auto;
  scrollbar-width: none ;
  max-height: calc(-61px + 100vh);
}

.g-col-7 {
}